html {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(255, 246, 230);
}

html body {
    width: device-width;
    margin: 0 20% 0 20%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid #000;
}